[Unit]
Description = Open Source Identity and Access Management

[Service]
Type=Simple
ExecStart=/usr/share/keycloak/bin/kc.sh start

[Install]
Wants=multi-user.target
